In [1]:
# the codes in Module 7
# load data
import pandas as pd
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")

In [2]:
# take target out of training set
Y = train_data['Survived']
train_data = train_data.drop(['Survived'], axis=1)
# drop useless feature PassengerID
train_data = train_data.drop(['PassengerId'], axis=1)
test_data = test_data.drop(['PassengerId'], axis=1)

In [3]:
# from now on, let's process missing values
def countMissing(data):
    missing = data.columns[data.isnull().any()].tolist()
    return missing
misTrain = countMissing(train_data)
misTest = countMissing(test_data)
misTotal = list(set().union(misTrain, misTest))

In [4]:
print(misTrain, len(misTrain))

['Age', 'Cabin', 'Embarked'] 3

In [5]:
print(misTest, len(misTest))

['Age', 'Fare', 'Cabin'] 3

In [6]:
print(misTotal, len(misTotal))

['Cabin', 'Fare', 'Age', 'Embarked'] 4

In [7]:
def exploreData(data, column):
    return data[column].value_counts()
def imputation(data, column, value):
    data.loc[data[column].isnull(), column] = value

In [8]:
print(len(train_data[train_data['Cabin'].isnull() == True]), len(train_data))
print(len(test_data[test_data['Cabin'].isnull() == True]), len(test_data))

687 891
327 418

In [9]:
train_data = train_data.drop(['Cabin'], axis=1)
test_data = test_data.drop(['Cabin'], axis=1)

In [10]:
print(len(train_data[train_data['Embarked'].isnull() == True]), len(train_data))

2 891

In [11]:
train_data[train_data['Embarked'].isnull() == True]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
61,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,NaN
829,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,NaN

In [12]:
train_data.groupby(['Embarked', 'Pclass'])['Fare'].describe()

                 count        mean        std      min      25%      50%  \
Embarked Pclass
C        1        85.0  104.718529  99.093935  26.5500  49.5000  78.2667
         2        17.0   25.358335  11.345067  12.0000  13.8625  24.0000
         3        66.0   11.214083   4.871528   4.0125   7.2292   7.8958
Q        1         2.0   90.000000   0.000000  90.0000  90.0000  90.0000
         2         3.0   12.350000   0.000000  12.3500  12.3500  12.3500
         3        72.0   11.183393   6.721677   6.7500   7.7500   7.7500
S        1       127.0   70.364862  58.811278   0.0000  29.2500  52.0000
         2       164.0   20.327439  13.630741   0.0000  13.0000  13.5000
         3       353.0   14.644083  13.276609   0.0000   7.8542   8.0500

                        75%       max
Embarked Pclass
C        1       110.883300  512.3292
         2        37.004200   41.5792
         3        14.458300   22.3583
Q        1        90.000000   90.0000
         2        12.350000   12.3500
         3        10.218725   29.1250
S        1        83.475000  263.0000
         2        26.000000   73.5000
         3        16.100000   69.5500

In [13]:
imputation(train_data, 'Embarked', 'C')

In [14]:
print(len(test_data[test_data['Fare'].isnull() == True]), len(test_data))

1 418

In [15]:
test_data[test_data['Fare'].isnull() == True]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
152,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,S

In [16]:
imputation(test_data, 'Fare', 8.05)

In [17]:
print(len(train_data[train_data['Age'].isnull() == True]), len(train_data))
print(len(test_data[test_data['Age'].isnull() == True]), len(test_data))

177 891
86 418

In [18]:
print(test_data[test_data['Age'].isnull() == True], len(test_data))

     Pclass                                               Name     Sex  Age  \
10        3                                   Ilieff, Mr. Ylio    male  NaN
22        1               Flegenheim, Mrs. Alfred (Antoinette)  female  NaN
29        3                                  Samaan, Mr. Elias    male  NaN
33        3  Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"  female  NaN
36        3                                Roth, Miss. Sarah A  female  NaN
39        3                                      Hee, Mr. Ling    male  NaN
41        1                        Franklin, Mr. Thomas Parham    male  NaN
47        3                           Shaughnessy, Mr. Patrick    male  NaN
54        2                  Mangiavacchi, Mr. Serafino Emilio    male  NaN
58        3                          Davison, Mr. Thomas Henry    male  NaN
65        2  Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...  female  NaN
76        3                                   Miles, Mr. Frank    male  NaN
83        3                               Demetri, Mr. Marinko    male  NaN
84        2                              Lamb, Mr. John Joseph    male  NaN
85        3                                 Khalil, Mr. Betros    male  NaN
88        3                            O'Donoghue, Ms. Bridget  female  NaN
91        3                                 Pedersen, Mr. Olaf    male  NaN
93        3                                  Guest, Mr. Robert    male  NaN
102       3                                 Foley, Mr. William    male  NaN
107       3                                   Ryan, Mr. Edward    male  NaN
108       3                   Willer, Mr. Aaron (Abi Weller")"    male  NaN
111       3                         Shine, Miss. Ellen Natalia  female  NaN
116       3                                   Thomas, Mr. John    male  NaN
121       3                                  Kiernan, Mr. John    male  NaN
124       3                                  Kennedy, Mr. John    male  NaN
127       3                                McCoy, Miss. Alicia  female  NaN
132       3                      Lefebre, Mrs. Frank (Frances)  female  NaN
133       3                              Thomas, Mr. Charles P    male  NaN
146       1                        Hilliard, Mr. Herbert Henry    male  NaN
148       1                          Crafton, Mr. John Bertram    male  NaN
..      ...                                                ...     ...  ...
268       3                        Howard, Miss. May Elizabeth  female  NaN
271       3                                   Fox, Mr. Patrick    male  NaN
273       3                                 Lennon, Miss. Mary  female  NaN
274       3                              Saade, Mr. Jean Nassr    male  NaN
282       3                              Fleming, Miss. Honora  female  NaN
286       3             Franklin, Mr. Charles (Charles Fardon)    male  NaN
288       3                            Mardirosian, Mr. Sarkis    male  NaN
289       3                                   Ford, Mr. Arthur    male  NaN
290       1                Rheims, Mr. George Alexander Lucien    male  NaN
292       3                                  Nasr, Mr. Mustafa    male  NaN
297       3                                  Samaan, Mr. Hanna    male  NaN
301       2                                Malachard, Mr. Noel    male  NaN
304       3                  McCarthy, Miss. Catherine Katie""  female  NaN
312       3                                Sadowitz, Mr. Harry    male  NaN
332       3                                Thomas, Mr. Tannous    male  NaN
339       3                              Betros, Master. Seman    male  NaN
342       3                              Sage, Mr. John George    male  NaN
344       3                van Billiard, Master. James William    male  NaN
357       3                                Lockyer, Mr. Edward    male  NaN
358       3                               O'Keefe, Mr. Patrick    male  NaN
365       3                     Sage, Mrs. John (Annie Bullen)  female  NaN
366       3                                  Caram, Mr. Joseph    male  NaN
380       3                              O'Connor, Mr. Patrick    male  NaN
382       3                         Risien, Mrs. Samuel (Emma)  female  NaN
384       2                     Wheeler, Mr. Edwin Frederick""    male  NaN
408       3                    Riordan, Miss. Johanna Hannah""  female  NaN
410       3                             Naughton, Miss. Hannah  female  NaN
413       3                                 Spector, Mr. Woolf    male  NaN
416       3                                Ware, Mr. Frederick    male  NaN
417       3                           Peter, Master. Michael J    male  NaN

     SibSp  Parch              Ticket     Fare Embarked
10       0      0              349220   7.8958        S
22       0      0            PC 17598  31.6833        S
29       2      0                2662  21.6792        C
33       1      2          W./C. 6607  23.4500        S
36       0      0              342712   8.0500        S
39       0      0                1601  56.4958        S
41       0      0              113778  26.5500        S
47       0      0              370374   7.7500        Q
54       0      0         SC/A.3 2861  15.5792        C
58       1      0              386525  16.1000        S
65       0      0        F.C.C. 13534  21.0000        S
76       0      0              359306   8.0500        S
83       0      0              349238   7.8958        S
84       0      0              240261  10.7083        Q
85       1      0                2660  14.4542        C
88       0      0              364856   7.7500        Q
91       0      0              345498   7.7750        S
93       0      0              376563   8.0500        S
102      0      0              365235   7.7500        Q
107      0      0              383162   7.7500        Q
108      0      0                3410   8.7125        S
111      0      0              330968   7.7792        Q
116      0      0                2681   6.4375        C
121      1      0              367227   7.7500        Q
124      0      0              368783   7.7500        Q
127      2      0              367226  23.2500        Q
132      0      4                4133  25.4667        S
133      1      0                2621   6.4375        C
146      0      0               17463  51.8625        S
148      0      0              113791  26.5500        S
..     ...    ...                 ...      ...      ...
268      0      0         A. 2. 39186   8.0500        S
271      0      0              368573   7.7500        Q
273      1      0              370371  15.5000        Q
274      0      0                2676   7.2250        C
282      0      0              364859   7.7500        Q
286      0      0  SOTON/O.Q. 3101314   7.2500        S
288      0      0                2655   7.2292        C
289      0      0            A/5 1478   8.0500        S
290      0      0            PC 17607  39.6000        S
292      0      0                2652   7.2292        C
297      2      0                2662  21.6792        C
301      0      0              237735  15.0458        C
304      0      0              383123   7.7500        Q
312      0      0             LP 1588   7.5750        S
332      0      0                2684   7.2250        C
339      0      0                2622   7.2292        C
342      1      9            CA. 2343  69.5500        S
344      1      1            A/5. 851  14.5000        S
357      0      0                1222   7.8792        S
358      0      0              368402   7.7500        Q
365      1      9            CA. 2343  69.5500        S
366      1      0                2689  14.4583        C
380      0      0              366713   7.7500        Q
382      0      0              364498  14.5000        S
384      0      0       SC/PARIS 2159  12.8750        S
408      0      0              334915   7.7208        Q
410      0      0              365237   7.7500        Q
413      0      0           A.5. 3236   8.0500        S
416      0      0              359309   8.0500        S
417      1      1                2668  22.3583        C

[86 rows x 9 columns] 418

In [19]:
print(exploreData(test_data, 'Age'), len(test_data))
print(exploreData(train_data, 'Age'), len(train_data))

24.00    17
21.00    17
22.00    16
30.00    15
18.00    13
27.00    12
26.00    12
25.00    11
23.00    11
29.00    10
36.00     9
45.00     9
20.00     8
17.00     7
28.00     7
32.00     6
31.00     6
55.00     6
33.00     6
39.00     6
35.00     5
41.00     5
47.00     5
40.00     5
50.00     5
42.00     5
48.00     5
19.00     4
43.00     4
1.00      3
         ..
8.00      2
63.00     2
14.00     2
22.50     1
62.00     1
0.83      1
67.00     1
28.50     1
0.33      1
0.17      1
38.50     1
3.00      1
51.00     1
5.00      1
44.00     1
14.50     1
59.00     1
58.00     1
0.75      1
0.92      1
36.50     1
40.50     1
11.50     1
34.00     1
15.00     1
7.00      1
60.50     1
26.50     1
76.00     1
34.50     1
Name: Age, Length: 79, dtype: int64 418
24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: Age, Length: 88, dtype: int64 891

In [20]:
# the codes in Module 8
# let's start encoding categorical features
tmp = train_data.columns.to_series().groupby(train_data.dtypes).groups
print({k.name: v for k, v in tmp.items()})

{'int64': Index(['Pclass', 'SibSp', 'Parch'], dtype='object'), 'float64': Index(['Age', 'Fare'], dtype='object'), 'object': Index(['Name', 'Sex', 'Ticket', 'Embarked'], dtype='object')}

In [21]:
# Get Title from Name
titles = [i.split(",")[1].split(".")[0].strip() for i in train_data["Name"]]
train_data["Title"] = pd.Series(titles)
train_data = train_data.drop(['Name'], axis=1)
titles = [i.split(",")[1].split(".")[0].strip() for i in test_data["Name"]]
test_data["Title"] = pd.Series(titles)
test_data = test_data.drop(['Name'], axis=1)

In [22]:
total_data = train_data
total_data = total_data.append(test_data)
exploreData(total_data, 'Title')

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Ms                2
Mlle              2
Major             2
the Countess      1
Sir               1
Lady              1
Dona              1
Don               1
Jonkheer          1
Mme               1
Capt              1
Name: Title, dtype: int64

In [23]:
new = {"Mme": "Mrs", "Mlle": "Miss", "Ms": "Miss", "Lady": "Miss", "Sir": "Mr", "Dr": "Master"}
other = ["the Countess","Countess","Capt", "Col","Don", "Major", "Rev", "Jonkheer", "Dona"]
train_data["Title"] = train_data["Title"].replace(new)
train_data["Title"] = train_data["Title"].replace(other, "Other")
test_data["Title"] = test_data["Title"].replace(new)
test_data["Title"] = test_data["Title"].replace(other, "Other")

In [24]:
train_data = pd.concat((train_data, pd.get_dummies(train_data["Title"], prefix="Title")), axis=1)
del train_data["Title"]
test_data = pd.concat((test_data, pd.get_dummies(test_data["Title"], prefix="Title")), axis=1)
del test_data["Title"]

In [25]:
train_data = pd.concat((train_data, pd.get_dummies(train_data["Sex"], prefix="Sex")), axis=1)
del train_data["Sex"]
test_data = pd.concat((test_data, pd.get_dummies(test_data["Sex"], prefix="Sex")), axis=1)
del test_data["Sex"]

In [26]:
total_data = train_data
total_data = total_data.append(test_data)
print(total_data["Ticket"])

0               A/5 21171
1                PC 17599
2        STON/O2. 3101282
3                  113803
4                  373450
5                  330877
6                   17463
7                  349909
8                  347742
9                  237736
10                PP 9549
11                 113783
12              A/5. 2151
13                 347082
14                 350406
15                 248706
16                 382652
17                 244373
18                 345763
19                   2649
20                 239865
21                 248698
22                 330923
23                 113788
24                 349909
25                 347077
26                   2631
27                  19950
28                 330959
29                 349216
              ...
388                364858
389                349909
390                 12749
391              PC 17592
392             C.A. 2673
393            C.A. 30769
394                315153
395                 13695
396                371109
397                 13567
398                347065
399                 21332
400                 36928
401                 28664
402                112378
403                113059
404                 17765
405         SC/PARIS 2166
406                 28666
407                113503
408                334915
409    SOTON/O.Q. 3101315
410                365237
411                 19928
412                347086
413             A.5. 3236
414              PC 17758
415    SOTON/O.Q. 3101262
416                359309
417                  2668
Name: Ticket, Length: 1309, dtype: object

In [27]:
# extract prefix from Ticket
ticket = []
for t in list(train_data.Ticket):
    if not t.isdigit() :
        ticket.append(t.replace(".","").replace("/","").strip().split(' ')[0])
    else:
        ticket.append("None")       
train_data["Ticket"] = ticket

ticket = []
for t in list(test_data.Ticket):
    if not t.isdigit() :
        ticket.append(t.replace(".","").replace("/","").strip().split(' ')[0])
    else:
        ticket.append("None")       
test_data["Ticket"] = ticket

In [28]:
total_data = train_data
total_data = total_data.append(test_data)
exploreData(total_data, "Ticket")

None       957
PC          92
CA          68
A5          28
SOTONOQ     24
WC          15
SCPARIS     14
STONO       14
A4          10
FCC          9
C            8
SOC          8
SOPP         7
STONO2       7
SCAH         5
SCParis      5
WEP          4
LINE         4
PP           4
FC           3
SOTONO2      3
SCA4         2
PPP          2
SWPP         2
SC           2
STONOQ       1
AS           1
SCA3         1
A            1
SCOW         1
CASOTON      1
AQ3          1
AQ4          1
Fa           1
LP           1
SOP          1
SP           1
Name: Ticket, dtype: int64

In [29]:
other = ['A5', 'STONO2', 'PP', 'SCParis', 'SCA4', 'A4',
       'SP', 'SOC', 'WC', 'SOTONOQ', 'WEP', 'STONO', 'C', 'SCPARIS', 'SOP',
       'Fa', 'LINE', 'FCC', 'SWPP', 'SCOW', 'PPP', 'SC', 'SCAH', 'AS',
       'SOPP', 'FC', 'SOTONO2', 'CASOTON', 'SCA3', 'STONOQ', 'AQ4', 'A',
       'LP', 'AQ3']
train_data["Ticket"] = train_data["Ticket"].replace(other, "Other")
test_data["Ticket"] = test_data["Ticket"].replace(other, "Other")

In [30]:
train_data = pd.concat((train_data, pd.get_dummies(train_data["Ticket"], prefix="Ticket")), axis=1)
del train_data["Ticket"]
test_data = pd.concat((test_data, pd.get_dummies(test_data["Ticket"], prefix="Ticket")), axis=1)
del test_data["Ticket"]

In [31]:
total_data = train_data
total_data = total_data.append(test_data)
exploreData(total_data, "Embarked")

S    914
C    272
Q    123
Name: Embarked, dtype: int64

In [32]:
train_data = pd.concat((train_data, pd.get_dummies(train_data["Embarked"], prefix="Embarked")), axis=1)
del train_data["Embarked"]
test_data = pd.concat((test_data, pd.get_dummies(test_data["Embarked"], prefix="Embarked")), axis=1)
del test_data["Embarked"]

In [33]:
# feature alignment
# for training set
col_train = train_data.columns
col_test = test_data.columns
for index in col_train:
    if index in col_test:
        pass
    else:
        del train_data[index]
# for testing set
col_train = train_data.columns
col_test = test_data.columns
for index in col_test:
    if index in col_train:
        pass
    else:
        del test_data[index]

In [34]:
# min-max scaling
train_age = train_data["Age"]
test_age = test_data["Age"]
train_data = (train_data - train_data.min()) / (train_data.max() - train_data.min())
test_data = (test_data - test_data.min()) / (test_data.max() - test_data.min())
train_data["Age"] = train_age
test_data["Age"] = test_age

In [35]:
# impute age
# decompose the whole dataset
total_data = train_data
total_data = total_data.append(test_data)
test_age = total_data[total_data["Age"].isnull() == True]
train_age = total_data[total_data["Age"].isnull() == False]
age = train_age["Age"]
train_age = train_age.drop(['Age'], axis=1)
test_age = test_age.drop(['Age'], axis=1)

In [36]:
from sklearn.ensemble import RandomForestRegressor
rfe = RandomForestRegressor(n_estimators = 500)
rfe.fit(train_age, age)
res = rfe.predict(test_age)

In [37]:
imputation(total_data, "Age", res)

In [38]:
train_data = total_data[0:len(train_data)]
test_data = total_data[len(train_data): len(total_data)]

In [39]:
train_data["Age"] = (train_data["Age"] - train_data["Age"].min()) / (train_data["Age"].max() - train_data["Age"].min())
test_data["Age"] = (test_data["Age"] - test_data["Age"].min()) / (test_data["Age"].max() - test_data["Age"].min())

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [40]:
# the codes in Module 9
# train regularized logistic regression model of l1 norm
from sklearn import linear_ model
lm = linear_model.LogisticRegression(penalty = "l1")
lm.fit(train_data, Y)
res = lm.predict(test_data)

In [41]:
# train regularized logistic regression model of l2 norm
from sklearn import linear_model
lm = linear_model.LogisticRegression(penalty = "l2")
lm.fit(train_data, Y)
res = lm.predict(test_data)

In [42]:
# cross validation on L1 regularized logistic regression
from sklearn import cross_validation
alphas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
scores = []
for a in alphas:
    lm = linear_model.LogisticRegression(penalty = "l1", C = a)
    scores.append(cross_validation.cross_val_score(lm, train_data, Y, scoring="accuracy", cv = 10).mean())
scores = pd.DataFrame({'parameter': alphas, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

    parameter     score
7       3.000  0.833904
8      10.000  0.829422
9      30.000  0.828311
10    100.000  0.828311
11    300.000  0.828311
12   1000.000  0.828311
13   3000.000  0.828311
6       1.000  0.820433
5       0.300  0.806936
3       0.030  0.786698
4       0.100  0.785587
0       0.001  0.616170
1       0.003  0.616170
2       0.010  0.616170

In [43]:
from sklearn import cross_validation
alphas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
scores = []
for a in alphas:
    lm = linear_model.LogisticRegression(penalty = "l2", C = a)
    scores.append(cross_validation.cross_val_score(lm, train_data, Y, scoring="accuracy", cv = 10).mean())
scores = pd.DataFrame({'parameter': alphas, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

    parameter     score
9      30.000  0.828324
10    100.000  0.828311
11    300.000  0.828311
12   1000.000  0.828311
13   3000.000  0.828311
7       3.000  0.828298
8      10.000  0.827200
6       1.000  0.822680
1       0.003  0.810332
5       0.300  0.809197
4       0.100  0.795725
2       0.010  0.786698
3       0.030  0.785587
0       0.001  0.679094

In [44]:
# train regularized logistic regression model of l1 norm
from sklearn import linear_model
lm = linear_model.LogisticRegression(penalty = "l1", C = 3)
lm.fit(train_data, Y)
res = lm.predict(test_data)

In [45]:
# train regularized logistic regression model of l2 norm
from sklearn import linear_model
lm = linear_model.LogisticRegression(penalty = "l2", C = 300)
lm.fit(train_data, Y)
res = lm.predict(test_data)

In [46]:
from sklearn import linear_model
lm = linear_model.LogisticRegression(C = 1e6)
lm.fit(train_data, Y)
res = lm.predict(test_data)

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(lm.predict(train_data), Y)

0.83501683501683499

In [48]:
import numpy as np
a = train_data.as_matrix()
for i in a:
    print(sum(np.square(i)))

5.08936040724
4.25798417333
5.10356137335
4.21518458175
5.18906432569
5.1192038819
4.46355962949
5.17048911097
5.22314168715
4.29819004008
5.04648904809
4.52620815552
5.06078341184
5.94882226544
5.02935504056
4.72136651291
5.28140368785
4.41041625869
5.16452081175
5.24287937702
4.44139286381
4.42869858514
5.03381219664
4.12491170735
5.17916749481
5.9368231818
5.11474467318
4.56976685207
5.0687682792
5.11421161412
4.2502957201
4.3743940973
5.10463694121
4.92952194493
4.16145931126
4.29892571757
5.08699365766
5.06712482186
5.11253550335
5.04522648625
5.26333513643
4.37886347062
5.15757085566
4.38437367092
5.05474744375
5.12689620283
5.21949478393
5.10463694121
5.13893807783
5.06563322521
5.29061523835
5.06710972554
4.41070985279
4.39717870193
4.70096198866
4.23528999883
4.31729796759
5.12470397451
4.38298214238
5.52779134221
5.07373425986
4.24738311826
4.35598590992
5.25672545099
4.16373889016
5.047254607
4.37939830954
5.05476449665
5.40475752884
5.16610797966
4.40789675776
5.5484451378
4.33745941083
5.11974305424
5.1696367426
5.09562460914
5.11421161412
5.16431953292
4.36434169359
5.1387548569
5.07384374833
5.12932211361
5.07511848303
4.128562102
4.29382717114
5.30918993158
5.30845577049
5.12689620283
4.5957641067
5.08804389555
5.12922516381
5.06077154797
4.35793326012
5.23167101136
5.54206495921
5.16431953292
4.7911779466
4.12357952499
4.45784788967
4.44625515198
5.12034792793
5.11421161412
4.11741299257
5.16789316036
5.27402956348
5.12034792793
5.06710089634
5.11940216029
5.22323793712
5.06632716315
4.3529046403
5.04772478492
5.07378203915
5.07652928954
5.04420355023
5.06711721417
5.77572617341
4.39628339974
4.34898786502
5.36523176136
4.39995941083
5.12689620283
4.43157282041
4.41314665603
4.50384740278
5.03728077529
5.26041912773
5.08799132561
5.04761850004
5.31399930856
5.16784534162
5.06072588391
5.35902896021
4.39717870193
4.34604550593
4.33137062625
4.16825388849
4.23765742722
5.03865259305
4.11169449332
5.25501138712
5.07376398072
5.10437911782
5.05468450861
4.29930497487
4.35305907086
5.11178988882
5.18973721869
4.56924018129
4.52364288337
4.65456828378
4.10605873591
5.47929594569
5.36556953222
5.13525731311
4.44610144838
5.03855680094
5.13840883928
5.08833301972
6.14637202653
5.32865849017
4.49831317722
5.10355240128
5.04369302404
5.28383169815
5.12434038275
4.29836628326
5.77684898774
4.24378089062
5.13227042619
4.58377184545
5.28303325337
5.04392812225
5.06711721417
4.49137558226
5.09243892753
5.1732310925
4.39129581682
4.38880581055
5.19989596045
6.18093240138
4.34716975821
5.37648872523
4.34612559708
5.11498300195
4.44891788635
5.18388788678
4.31649949468
5.29168619096
5.2001334771
4.4081205833
4.30515478037
5.07037094522
4.29702926999
4.30282078557
4.60531264608
5.26041912773
5.30104589366
5.10463694121
4.33844086683
5.12045424541
6.17590487471
5.17821548548
5.32109165334
5.04904801362
5.02858900362
5.1740588343
5.10466684118
5.03855778604
4.25102932403
5.08798636762
4.44049756162
5.07373540724
4.38880581055
5.21926055956
4.21217079654
5.111797627
4.54140136943
4.1796513569
4.38858198501
5.03857584448
4.36220220597
5.4042175039
5.11421161412
4.26948477236
5.07386821675
4.30493095482
5.06386800903
4.29944498489
5.17547262379
4.23098939169
5.12920858405
4.79255904219
5.36817667783
4.33821704128
5.07304548412
4.56809359749
4.3728088735
4.30493095482
4.41818186844
5.0509969534
5.05937147888
4.37939830954
5.07372856151
5.1383608287
4.39325252693
5.0956319549
4.44970913204
4.26521550903
4.72151277018
5.21475980432
5.17279809246
4.60147134456
5.1547744923
5.37269325006
5.24097491842
4.39744930539
4.16666780503
5.18881744135
4.66850819162
5.26041912773
5.36591549777
4.48767464868
4.24736810957
5.10463694121
4.45031599052
5.3221075395
5.1112569549
4.64102392157
4.25890395203
4.31973934211
5.09540165032
4.53925211793
4.24242864802
5.10463694121
4.65717015013
5.31404278548
4.4308896032
5.2878461562
5.23378247382
5.65877800351
5.12034543175
5.03867279428
5.05475780909
4.35406548428
5.16789370794
5.13850578907
5.07377267146
4.52364288337
5.07376398072
4.12700883039
4.10173978965
4.45052749376
5.088095404
5.08803452786
4.16373889016
5.08431222443
4.2146314321
4.26838221017
4.64934584519
5.10463694121
5.1953110714
5.05451092475
4.36749756325
5.12689620283
4.21427671738
4.18773378206
4.10421331818
4.40598139774
4.15050925333
4.11414290805
4.48468107419
4.39930029693
5.12034792793
4.58231616346
5.10355711717
4.35599743367
4.70405906785
4.36232673788
4.35969105903
5.07373540724
5.111795867
4.38874303463
4.37014197147
6.17590487471
4.26998247113
5.57964452679
4.45053981607
5.19266918987
4.07891370282
5.1126071403
4.32398728681
4.34050172162
5.10206333422
4.3368281761
5.11421161412
4.16150186057
4.32894583671
5.31406084392
4.31861525566
4.29637239087
4.60305293853
4.37075426689
4.34604550593
4.45053981607
4.33844086683
4.49801196518
5.09528439867
5.0454170022
5.27328491072
5.08083239544
4.3349927979
5.0771684693
5.11223374625
5.11474467318
5.12045424541
4.1128375671
4.47364427608
5.0687682792
5.0687682792
5.71040313773
4.39753089
5.3423876949
5.18900679777
5.21949478393
5.13836220737
4.59772081137
5.1365274261
5.10463694121
4.10609352095
4.1227371347
5.06458688523
5.05475780909
4.14362166549
5.1711459901
4.22343276621
5.07373540724
4.39309023231
5.06059786582
5.05474122933
4.47022314825
5.11210830174
5.15771600434
4.21474413117
5.11421161412
4.31938260258
5.51016929644
4.45053981607
5.13825260387
4.29395575177
4.3814931416
5.06710947599
5.18284968793
4.14501753824
5.19997063648
5.07376669328
5.14789645815
4.58062597385
4.33092820944
4.37072006444
5.23526563803
5.10356898104
5.08287069956
5.13669251788
5.06082241047
4.4453598498
5.40419944547
4.29579322913
5.0671082421
5.17547262379
5.11421161412
5.08424868524
4.21409217687
4.4308896032
5.30013245168
5.18380692124
4.47548160489
4.410556096
4.38880581055
5.12782489742
5.15757085566
5.06710577832
5.12921454638
5.16430318846
5.09376038097
5.1352538456
4.38831083373
4.30708634721
5.26041912773
5.15772361203
4.12279594637
5.09528439867
4.54119945021
5.04360054777
4.41568488168
4.21071720124
5.24499085899
4.65163639281
5.36190150827
4.39808146774
4.60984192528
5.06088036164
5.1112569549
4.37075426689
5.11779515119
4.13866348054
4.30421571388
4.18074026463
5.09500301302
4.42364611824
4.579565853
5.10773203185
4.14109573638
4.41852827275
5.12689620283
5.12921579612
4.6612347127
4.31600075765
4.63857502146
5.26041912773
4.36015669195
5.17830161387
4.34825002139
4.60811501246
5.12689620283
5.22318977688
4.4308896032
4.49047140463
5.13825235659
5.09170795889
5.21475980432
5.22328630343
4.54727771752
4.33123284454
5.07390385323
4.35142638189
4.4453598498
5.14479241033
5.07375064617
5.02874718161
5.52174047488
4.4308896032
5.38840187573
5.618741322
4.14263051522
5.17547262379
4.23530179325
4.52688320384
5.13840883928
5.05599022966
5.10773203185
5.06707818995
4.47393526822
4.79593924835
5.06712482186
5.09484085972
4.49227492815
5.21413089302
4.30963889179
5.08802854968
5.04369302404
5.06710676342
5.10430724322
5.21164048392
4.06683481023
4.10960730639
4.53129435854
4.35010745273
5.12204340917
5.11548211161
5.12920710537
5.12689620283
4.20252865427
4.48237968142
5.08801107232
4.3470124655
4.42847475959
5.1729306829
4.46809638291
5.15771424434
4.17146814866
5.07377267146
5.11474467318
4.34047791771
5.08699365766
5.25388623729
4.63857502146
4.59370016476
5.23526563803
4.42128980275
4.29637239087
5.08699365766
5.08700902389
5.23371174686
5.1384478379
4.37057295802
4.31649949468
4.18131277957
5.09864088487
4.19398121987
4.33021225587
5.37646186795
5.38251273528
4.42567715014
4.44693081602
4.64088767007
4.32271134721
4.33503729255
5.21261557716
4.30762072057
4.2013601052
4.36413377281
5.1481770339
5.07373402857
5.07376545939
4.60147134456
4.37907052738
4.36989754386
4.30259895505
5.21667441445
5.26041912773
5.24760562622
4.37080474669
5.12689620283
5.06643857712
5.15251897027
5.0547484414
5.57511486647
5.08699365766
5.15771174816
4.84920583953
4.50914567012
4.20254872237
5.10463694121
5.03857584448
5.05531193447
4.42869858514
4.26255625168
5.07714332123
5.15771600434
4.39223324498
4.32527099217
4.70588777018
4.20602979239
5.14176847886
4.18408205628
4.59346015471
4.62782286029
5.07378203915
5.12689620283
5.18901084806
4.45906463544
5.34280320292
5.20783513346
4.47949070928
5.24552069729
4.32118721647
5.37265517048
5.11474467318
4.40062746888
4.43085213066
5.11421161412
4.3118204681
5.30014005937
4.19150297645
5.21644217878
5.13839947159
4.11510241357
4.45685775597
4.33709163294
5.94882226544
5.11353175664
5.05937147888
5.26041912773
5.18906432569
4.48062951266
5.22224750671
5.11993463406
4.34809623446
4.35374212677
5.12797930789
4.29914647219
5.10488337712
5.06711295799
5.06786547488
4.58347614471
4.75607742103
4.09003196275
5.10355961335
5.1382528454
5.00342881688
5.40416020166
4.16102079091
4.27448936018
5.26632599205
4.37075426689
5.15771600434
4.44368940338
5.96047091106
5.12059204241
5.06077154797
4.10609352095
5.25509588547
5.1438014527
5.09170795889
4.39552583915
5.0547484414
4.49258716561
5.09600537373
5.0807253473
5.11421161412
4.32859428942
5.06714889234
5.06831403137
5.04897471313
4.42087848452
5.11421161412
5.20179480908
4.33115203499
4.6835180904
4.51870680567
5.24756698333
4.34509730107
5.20011002156
5.07640080415
4.49055820099
4.34604550593
5.11940216029
5.2865350821
4.26145082147
4.54656558787
4.1735881275
5.01489096667
4.39830529329
4.4308896032
5.04903143386
5.0918067392
5.04917014258
6.3102932643
5.22767373823
5.04974880742
4.13398803266
5.06086074357
5.53923619775
4.8597200787
4.47872425148
5.31289859945
5.05490502981
5.04903266775
4.23150335982
4.1756644666
5.03048732718
5.1438014527
5.09560052408
4.5632081355
4.67079639043
5.30014005937
5.05055595941
4.46289980127
5.27322198657
4.26165024977
4.19145013517
5.07737486459
5.09562998636
5.11918211717
4.48760178383
4.564508295
4.27563172157
4.16103628517
5.047254607
4.09713354934
4.35010745273
4.38339784667
5.12932090582
4.67074591063
5.05473388357
4.42022454096
4.36197838042
5.17265485658
5.16783812955
4.28684319697
5.05922172317
4.42869858514
4.638798847
4.13792549075
5.06082241047
4.53046707521
5.05055620696
4.36360207277
5.11126592697
4.29913727503
5.01901990903
4.4308896032
4.33115203499
4.33115203499
5.12549240682
5.6275979672
5.18881744135
5.11421161412
5.11421161412
4.45613913982
4.23920769414
4.50275788244
5.10440954857
5.14790071433
4.82707889869
5.08329399261
4.38880581055
4.08087806515
5.14789026358
4.2974419163
5.03328723051
5.16795165911
5.08074569603
4.7503036583
4.29421365648
5.12034194975
4.29930497487
5.17830161387
4.19611367506
5.09864088487
5.26021907173
5.06073563254
4.3814931416
5.03855926472
4.44274964479
4.24358672019
5.1431010463
5.19533484559
5.15774315212
5.08814084535
5.35770617732
4.75591637141
5.11474467318
4.97095273009
5.04902995518
5.26041912773
5.0039051518
5.13825309295
4.4842249711
5.02518836602
4.07141017
4.13240709635
5.27262564835
5.09559100673
5.09560190275
5.04901519038
5.29008207168
5.12840203344
4.3519480335
5.26041912773
4.29090438259
6.18093240138
4.40409893632
5.09563916697
4.48567021699
4.37521658589
5.14794869519
5.13836105998
5.18378669177
4.42869858514
4.44368940338
4.1992723457
5.02805411824
5.11174369933
5.14789174226
4.23502636138
5.04903143386
4.48567021699
4.19397496537
5.10355911426
5.23724832044
4.43923747142
5.36975412149
5.14311910474
4.27448936018
5.08074745603
4.44628101106
5.28644669482
5.26919352208
4.49681102651
5.11184423332
4.22300042047
5.1399290301
5.28417277
5.09821772962
5.1438014527
4.3663810255
5.26041912773
4.62316850726
5.04998754402
4.29476870297
5.08699365766
5.08074319985
5.04906358616
4.304775036
5.06716382049
5.16431953292
5.1696367426
4.37735828279
5.06077580415
4.28874899021
4.1418231694
5.18355449286
5.04369302404
5.27321619568
6.17590487471
5.189054958
4.40203705747
4.24089999925
5.36686132688
5.85512317928
5.05591260284
4.07202091366
4.56809359749
5.07691196899
4.46077092645
4.40665615466
5.33920999662
5.08699365766
5.32328398266
4.33300678311
4.36003257225
6.18093240138
4.33844086683
4.52364288337
4.37791503122
4.15737575523
5.11614308755
5.04589875962
5.10355961335
4.39652817269
4.16770306988
5.34291154401
4.38792985408
5.03376546024
5.06090584833
5.0547484414
5.11421161412
4.54190954415
4.37575485055
5.16784534162
5.07395652204
4.37053044134
5.09559100673
5.93270252526
4.36220220597
4.05793974163
5.13408393461
4.10675091358
5.15770555359

In [49]:
import numpy as np
import math
# RBF function
def rbf(data, centers, sigma):
    res = np.ndarray(shape = (len(data), len(centers)))
    i = 0
    for row in data:
        tmp = []
        for center in centers:
            tmp.append(math.exp(-1.0 * sum(np.square(row - center)) / (2 * sigma * sigma)))
        res[i, :] = tmp
        i = i + 1
    return res
# select k centers from data
def selectCenters(data, k):
    tmp = np.random.choice(len(data), k)
    return data[tmp,:]

In [50]:
centers = selectCenters(train_data.as_matrix(), train_data.shape[1])

In [51]:
rbfX = rbf(train_data.as_matrix(), centers, 1.0)

In [52]:
rbfTest = rbf(test_data.as_matrix(), centers, 1.0)

In [53]:
lm = linear_model.LogisticRegression(penalty = "l1")
lm.fit(rbfX, Y)
res = lm.predict(rbfTest)

In [54]:
lm = linear_model.LogisticRegression(penalty = "l2")
lm.fit(rbfX, Y)
res = lm.predict(rbfTest)

In [55]:
# cross validation on L1 regularized logistic regression
from sklearn import cross_validation
#alphas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
alphas = [0.1, 1, 10]
#sigmas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
#sigmas = [0.1, 1.0, 10]
sigmas = [1.0, 2.0, 4.0]
#Ks = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 75, 80]
#Ks = [5, 10, 20, 40, 80]
Ks = [10, 20, 40, 80]
scores = []
param = []
for K in Ks:
    centers = selectCenters(train_data.as_matrix(), K)
    for sigma in sigmas:
        rbfX = rbf(train_data.as_matrix(), centers, sigma)
        for a in alphas:
            lm = linear_model.LogisticRegression(penalty = "l1", C = a)
            scores.append(cross_validation.cross_val_score(lm, rbfX, Y, scoring="accuracy", cv = 10).mean())
            param.append([K, sigma, a])
scores = pd.DataFrame({'parameter': param, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

         parameter     score
29   [80, 1.0, 10]  0.828336
32   [80, 2.0, 10]  0.820470
20   [40, 1.0, 10]  0.814827
35   [80, 4.0, 10]  0.812542
23   [40, 2.0, 10]  0.810371
2    [10, 1.0, 10]  0.804689
28    [80, 1.0, 1]  0.803603
10    [20, 1.0, 1]  0.803603
5    [10, 2.0, 10]  0.799159
31    [80, 2.0, 1]  0.799058
19    [40, 1.0, 1]  0.798023
11   [20, 1.0, 10]  0.793527
26   [40, 4.0, 10]  0.790120
14   [20, 2.0, 10]  0.789033
30  [80, 2.0, 0.1]  0.786711
12  [20, 2.0, 0.1]  0.786711
13    [20, 2.0, 1]  0.786711
16    [20, 4.0, 1]  0.786711
34    [80, 4.0, 1]  0.786711
27  [80, 1.0, 0.1]  0.786698
0   [10, 1.0, 0.1]  0.786698
9   [20, 1.0, 0.1]  0.786698
18  [40, 1.0, 0.1]  0.786698
21  [40, 2.0, 0.1]  0.785600
1     [10, 1.0, 1]  0.785587
7     [10, 4.0, 1]  0.785587
3   [10, 2.0, 0.1]  0.785587
22    [40, 2.0, 1]  0.784564
25    [40, 4.0, 1]  0.783402
4     [10, 2.0, 1]  0.781143
17   [20, 4.0, 10]  0.779994
8    [10, 4.0, 10]  0.777797
24  [40, 4.0, 0.1]  0.656608
6   [10, 4.0, 0.1]  0.656583
33  [80, 4.0, 0.1]  0.655472
15  [20, 4.0, 0.1]  0.647582

In [56]:
# cross validation on L1 regularized logistic regression
from sklearn import cross_validation
#alphas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
alphas = [0.1, 1, 10]
#sigmas = [0.001, 0.003, 0.01, 0.03, 0.1, 0.3, 1.0, 3.0, 10, 30, 100, 300, 1000, 3000]
#sigmas = [0.1, 1.0, 10]
sigmas = [1.0, 2.0, 4.0]
#Ks = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 75, 80]
#Ks = [5, 10, 20, 40, 80]
Ks = [10, 20, 40, 80]
scores = []
param = []
for K in Ks:
    centers = selectCenters(train_data.as_matrix(), K)
    for sigma in sigmas:
        rbfX = rbf(train_data.as_matrix(), centers, sigma)
        for a in alphas:
            lm = linear_model.LogisticRegression(penalty = "l2", C = a)
            scores.append(cross_validation.cross_val_score(lm, rbfX, Y, scoring="accuracy", cv = 10).mean())
            param.append([K, sigma, a])
scores = pd.DataFrame({'parameter': param, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

         parameter     score
32   [80, 2.0, 10]  0.817113
29   [80, 1.0, 10]  0.815976
20   [40, 1.0, 10]  0.812618
28    [80, 1.0, 1]  0.811481
23   [40, 2.0, 10]  0.806974
19    [40, 1.0, 1]  0.804752
22    [40, 2.0, 1]  0.795713
14   [20, 2.0, 10]  0.793453
26   [40, 4.0, 10]  0.791243
18  [40, 1.0, 0.1]  0.791231
27  [80, 1.0, 0.1]  0.790119
31    [80, 2.0, 1]  0.790094
17   [20, 4.0, 10]  0.788971
35   [80, 4.0, 10]  0.787859
11   [20, 1.0, 10]  0.786862
13    [20, 2.0, 1]  0.786711
34    [80, 4.0, 1]  0.786711
16    [20, 4.0, 1]  0.786698
12  [20, 2.0, 0.1]  0.786698
33  [80, 4.0, 0.1]  0.786698
24  [40, 4.0, 0.1]  0.786698
9   [20, 1.0, 0.1]  0.785637
8    [10, 4.0, 10]  0.785625
21  [40, 2.0, 0.1]  0.785587
3   [10, 2.0, 0.1]  0.785587
7     [10, 4.0, 1]  0.785587
30  [80, 2.0, 0.1]  0.785587
4     [10, 2.0, 1]  0.784501
25    [40, 4.0, 1]  0.784463
10    [20, 1.0, 1]  0.782280
15  [20, 4.0, 0.1]  0.781080
5    [10, 2.0, 10]  0.777784
1     [10, 1.0, 1]  0.775562
2    [10, 1.0, 10]  0.775537
0   [10, 1.0, 0.1]  0.772217
6   [10, 4.0, 0.1]  0.650965

In [57]:
centers = selectCenters(train_data.as_matrix(), 80)

In [58]:
rbfX = rbf(train_data.as_matrix(), centers, 1.0)

In [59]:
rbfTest = rbf(test_data.as_matrix(), centers, 1.0)

In [60]:
lm = linear_model.LogisticRegression(penalty = "l1", C = 10)
lm.fit(rbfX, Y)
res = lm.predict(rbfTest)

In [61]:
centers = selectCenters(train_data.as_matrix(), 80)

In [62]:
rbfX = rbf(train_data.as_matrix(), centers, 2.0)

In [63]:
rbfTest = rbf(test_data.as_matrix(), centers, 2.0)

In [64]:
lm = linear_model.LogisticRegression(penalty = "l2", C = 10)
lm.fit(rbfX, Y)
res = lm.predict(rbfTest)

In [65]:
from sklearn.ensemble import  AdaBoostClassifier
lm = linear_model.LogisticRegression(penalty = "l1", C = 3)
lm.fit(train_data, Y)
ada_lm = AdaBoostClassifier(lm)
ada_lm.fit(train_data, Y)
res = ada_lm.predict(test_data)

In [66]:
numbers = [40, 80, 160]
alphas = [0.1, 0.3, 1.0, 3.0]
regs = ["l1", "l2"]
scores = []
param = []
for alpha in alphas:
    for reg in regs:
        lm = linear_model.LogisticRegression(penalty = reg, C = alpha)
        lm.fit(train_data, Y)
        for number in numbers:
            ada_lm = AdaBoostClassifier(lm, n_estimators = number)
            scores.append(cross_validation.cross_val_score(ada_lm, train_data, Y, scoring="accuracy", cv = 10).mean())
            param.append([alpha, reg, number])
scores = pd.DataFrame({'parameter': param, 'score': scores})
print(scores.sort_values(by = 'score', ascending = False))

         parameter     score
23  [3.0, l2, 160]  0.824928
22   [3.0, l2, 80]  0.821557
17  [1.0, l2, 160]  0.813679
21   [3.0, l2, 40]  0.810308
16   [1.0, l2, 80]  0.801319
11  [0.3, l2, 160]  0.793478
15   [1.0, l2, 40]  0.792367
10   [0.3, l2, 80]  0.790094
3    [0.1, l2, 40]  0.786698
4    [0.1, l2, 80]  0.786698
5   [0.1, l2, 160]  0.785587
9    [0.3, l2, 40]  0.785587
20  [3.0, l1, 160]  0.616170
19   [3.0, l1, 80]  0.616170
18   [3.0, l1, 40]  0.616170
0    [0.1, l1, 40]  0.616170
14  [1.0, l1, 160]  0.616170
13   [1.0, l1, 80]  0.616170
1    [0.1, l1, 80]  0.616170
8   [0.3, l1, 160]  0.616170
7    [0.3, l1, 80]  0.616170
6    [0.3, l1, 40]  0.616170
2   [0.1, l1, 160]  0.616170
12   [1.0, l1, 40]  0.616170

In [67]:
from sklearn.ensemble import  AdaBoostClassifier
lm = linear_model.LogisticRegression(penalty = "l2", C = 3.0)
lm.fit(train_data, Y)
ada_lm = AdaBoostClassifier(lm, n_estimators = 160)
ada_lm.fit(train_data, Y)
res = ada_lm.predict(test_data)

In [68]:
# save predictions
sample_data = pd.read_csv("./data/gender_submission.csv")
sample_data['Survived'] = res
sample_data.to_csv('./prediction.csv', index = False)